* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #161616;
}

.container { /* container */
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;  
} 


.sidebar { /*sidebar component */
  background: #1F1F1F;
  width: 188px;
  height: 100vh;
  float: left;
  position: fixed;
 
  .top {
    height: 60px;

    .logo { /* logo img */
      padding: 20px 5px 5px 20px;
      color: #fff;
      display: inline-block;
      float: left;
    } /* end of logo class */ 
    
    .hamburger { /* hamburger menu icon */ 
      em {
        color: #999999;
        display: flex;
        font-size: 1.3em;
        float: right;
        padding: 22px;
      } /* end of em */
    } /* end of hamburger */ 
  } /* end of top */

  .nav-sidebar { /* sidebar menu - left */ 
    font-family: Roboto;
    color: #999999;
        
    div { 
      height: 40px;
      padding-left: 20px;
      border-left: 5px solid #1f1f1f;
    }

    a {
        color: #999999;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 42px;
    }
    
    .active-link {
      color: #fff;
    }  

    div:hover, .active-cell {
      border-left: 5px solid #f58220;
      cursor: pointer;
      color: #fff;
      background: #282828;
      color: #fff;
    }

    div:hover a {
      color: #fff;
    }

    em {
      letter-spacing: 10px;
    }
  } /* end of na */

  

  .users-logon { /* users */ 
    
    h1 {
      margin-top: 0;
      color: #808080;
      font-size: 14px;
      font-weight: 700;
      line-height: 42px;
      text-transform: uppercase;
      padding-left: 20px;
    }
    .user-picture {
      float: left;
      display: inline-block;
      padding-left: 20px;
      position: relative;
      
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    .lights-logged {
      background: green;
      left: 50px;
    }
    .user-description {
        width: 100px;
        float: left;
        color: #56819f;
        padding: 8px;

    }
  }
} /* end of sidebar  */

.header { /* header top begin */ 
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 1092px;
  background: #ffffff;
  position: fixed;
  border-bottom: 1px solid #e3e3e3;

  h1 {
    color: #9c9c9c;
    font-size: 20px;
    font-weight: 500;
  }
  
  h2 {
    color: #56819f;
    font-size: 13px;
    font-weight: 300;
  }
  
  em {
    font-size: 18px;
    color: #979797;
  }

  .header-cell {
    display: flex;
    border-right: 1px solid #e3e3e3; 
    max-height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
  .header-cell:first-child {
    flex:10;
  }
 
  .header-cell:nth-child(2) {
    flex: 3;
    justify-content: space-around;
  }
 
 .header-cell:nth-child(3) {
    flex: 1;
    position: relative;
  }
  .header-cell:nth-child(4) {
    flex: 3;
    justify-content: space-around;
    padding: 0 10px;
  }
  .lights-logged {
    background: #f58220;
    top: 15px;
    left: 30px; 
  }

    .header-cell:last-child {
      flex: 1;
    }
} /* end of header */ 

.main { 
  margin-left: 188px;
  background: #f5f5f2;
  width: 1092px;
  float: left;
}

.main-first-window {
    margin: 80px 20px 20px;
  }
/* grid  */

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage($i / 12);
  }
}

@for $i from 0 through 12 {
  .col-offset-#{$i} {
    width: percentage($i / 12);
  }
}
                                
 [class*='col-'] {
    float: left;
    min-height: 1px;

}