/* Colors */
$paragraph-color: #a6a6a6;
$brand-main-color: #a6a6a6;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Roboto', sans-serif;
$paragraph-font: 'Roboto', sans-serif;

