/* Colors */
$paragraph-color: #a6a6a6;
$brand-main-color: #a6a6a6;
$form-borders-color: #e3e3e3;


/* Font sizes */
$paragraph-font-size: 16px;
$h1-content-fomt: 16px;

/* Fonts */
$brand-font: 'Roboto', sans-serif;
$paragraph-font: 'Roboto', sans-serif;
$h1-content-fomt: 'Roboto', sans-serif;


