
@import "normalize.scss";
@import "/vendor/glyphter.css";
@import "variables.css";
@import "layout.css";
@import "mixins.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #161616;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;  
 
} 

/* container */
.sidebar {
  background: #1f1f1f;
  width: 188px;
  height: 100vh;
  float: left;
  position: fixed;
 
  .top {
    height: 60px;

    .logo {
      padding: 15px 5px 5px 5px;
      color: #fff;
      display: inline-block;
      float: left;
    } /* end of logo class */ 
    .hamburger {
      em {
        color: #fff;
        display: flex;
        font-size: 1.3em;
        float: right;
        padding: 8px;
      } /* end of em */
    } /* end of hamburger */ 
  } /* end of top */
  .nav-sidebar {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    line-height: 42px;
    div {
      height: 40px;
      padding-left: 20px;
      border-left: 5px solid #1f1f1f;
    }
    a {
        color: #999999;
        text-decoration: none;
    }
    
    a:hover {
        color: #fff;
    }
      
    div:hover, .active  {
      border-left: 5px solid #f58220;
      cursor: pointer;
      color: #fff;
      background: #282828;
      color: #fff;
    }
    div:hover a {
      color: #fff;
    }

  } /* end of na */
} /* end of sidebar  */

 
.main { 
  margin-left: 188px;
  background: #f5f5f2;
  width: 1012px;
  float: left;
  height: 1000px;

  .header { /* header begin */ 
    height: 60px;
    width: 1012px;
    background: #ffffff;
    position: fixed;
  } /* end of header */ 

  .content {
    margin: 80px 20px 20px;
    background: #ffffff;
    display: flex;
    height: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
} /* end of main */

/* grid  */

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage($i / 12);
  }
}

@for $i from 0 through 12 {
  .col-offset-#{$i} {
    width: percentage($i / 12);
  }
}
                                
 [class*='col-'] {
    float: left;
    min-height: 1px;

}