@import "_layout.scss";
@import "_normalize.scss";
@import "glyphter.scss";
@import "_variables.scss";
@import "_layout.scss";
@import "_mixins.scss";
@import "components/_form_field.scss";

.main-line {
  width: 100;
  height: 1px;
  border-bottom: 1px solid #e3e3e3;  
}
.content-container {
  margin: 0 180px;

}
.general-search {
   height: 100px;
   display: flex;

   justify-content: center;
   align-items: center;
   .form-class {
    padding: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
   }
   form {
    display: flex;
    .horizontal-line {
      height: 40px;
      border-left: 1px solid #e3e3e3;
    }
    input {
      height: 40px;
      padding: 7px;
      border: none;
    }
  }
}
.general-data {
  padding-top: 30px;
  .general-data-value {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    border-bottom: 1px solid #e3e3e3;
  }
  .general-data-column {
    display: flex;
    justify-content: space-around;

  }
}
.general-charts {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  h1 {
    color: #a6a6a6;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  img {
    margin-top: 50px;
    margin: 20px 0;
  }
}                   /* End of first windows Genereal statistic */
/* Windows no 2 */

.table-links {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    margin: 20px 0;
  }
  td {
    height: 60px;
    border-top: 1px solid #e3e3e3;
  }
  .table-first {
    width: 200px;
    color: #a6a6a6;
  }
  .table-second {
    width: 200px;
    color: #56819F;
  }
  .table-third {
    width: 200px;
    text-align: center;
    em {
      opacity: 0;
      padding-right: 20px;
    }
  }
  tr:hover {
    background: #f5f5f2;
    cursor: pointer;
   .table-third em {
       opacity: 1;
    }
  }
  a {
   color: black;

  }
}
.links {
  
 
}
