
@import "normalize.scss";
@import "/vendor/glyphter.css";
@import "variables.css";
@import "layout.css";
@import "mixins.css";
@import "components/form_field.css"
@import "layout.css"

.general-search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.main-links {
    margin: 0 20px 20px;
  }
